/*wrap*/
#wrap {width:1366px; margin: auto; background-color:#fff;}
#top {
	width:1366px; color:#47036f;
	padding:10 10px 10px 10;
	text-align:right;font-weight:bold;
}
#top h1 {font-size: 27px;}
#top a {color:#eee; text-decoration: none;padding: 10px;}
#top a:hover {background-color: blue;}
#left {margin: top;}

/*navigation*/
#navbar {width:1366px; height: 30px;background-color:#fff;}
#navbar ul {margin:0;padding:0;}
#navbar ul li {float:left;}
#navbar ul li a{color:#eee;background-color:#4683a4;
				display: block;
				width:300px;
				text-align: center;
				padding: 10px 10px;
				text-decoration:none;
				margin-right: 6px;
				margin-left: 9px;}
#navbar ul li a.selected {background-color:#fff;}
#navbar ul li a:hover {background-color:#7446d7;}

/*content*/
#content  {width:1000px;
	margin-top: 70px;
	margin-left: 615px;
	border:1px; font-weight:bold;
border-radius:10px; overflow:auto;}

#hobby {font-size: 22px; font-style: bold; color: #7446d7; margin-top: 10px; margin-bottom: 20px;}
#hobby1 {font-size: 22px; font-style: bold; color: #7446d7; margin-top: 10px; margin-bottom: 20px;}
#hobby2 {font-size: 22px; font-style: bold; color: #7446d7; margin-top: 10px; margin-bottom: 20px;}
#choice {font-size: 22px; font-style: bold; color: #7446d7; margin-top: 10px; margin-bottom: 20px;}
#choice1 {font-size: 22px; font-style: bold; color: #7446d7; margin-top: 10px; margin-bottom: 20px;}
#choice2 {font-size: 22px; font-style: bold; color: #7446d7; margin-top: 10px; margin-bottom: 20px;}


/*-footer-*/
#footer {background-color:#ddd; color:#000; text-align:center; padding: 20px;}

